/* # Terminal Shortcuts app css */

.wrapper  {
  margin: 10px;
  padding: 0 10px 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 3px;
}

.wrapper input {
  margin: 20px 0;
  background-color: #ccc !important;
}

.wrapper .content-wrapper {
  display: block
}

.wrapper .notification {
  color: #ff0000;
}

.wrapper .spacer {
  margin: 5px 0;
}

.wrapper .content-wrapper .left,
.wrapper .content-wrapper .right {
  float: left;
  width: 45%;
  height: 450px;
  display: block;
  overflow: hidden;
}
.wrapper .content-wrapper .right {
  margin-left: 20px;
}

.wrapper .content-wrapper .right .clear_button {
  display: block;
  overflow: hidden;
  margin: 10px 0;
  text-align: right;
}

.wrapper .content-wrapper .right .terminal-wrapper {
  height: 90%;
}
